html{
    font-size: 10px;
    box-sizing:border-box;
}

body{
    margin: 0;
    height :100vh;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

/* layout */
.grid-container{
    display:grid;
    grid-template-areas: 'header' 'main' 'footer';
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr 50px;
    height: 100%

}

header{
    grid-area: header;
    background-color: #87da35

}
main{
    grid-area: main;
    padding:10px
}
footer{
    grid-area:footer;
    background-color: #0976a8;
    color:white;
}

h1{
    font-size:15px;
    padding:10px 0;

}

h2{
    font-size:13px;
    padding:10px 0;
    
}
.row{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: center;
}
a{
    text-decoration: none;
}

a:hover{
    color:rgb(255, 94, 0)
}

header a{
    color:rgb(255, 255, 255);
    padding:10px;

}
a.brand{
    color:white;
    font-size: 30px;
    font-weight: bold;
}
.row.center{
    justify-content: center;
}

img{
    border-radius:5px;

}
img.medium{
    max-width: 300px;
    width:100%
}

.card{
    border:1px #51a809 solid;
    background-color: rgba(127, 187, 255, 0.466);
    border-radius:5px;
    margin:10px;
}
.card-body{
    padding:10px
}
.card-body >*{
    margin-bottom: 5px;
}
.price{
    font-size:20px;
}
.rating span{
    color:rgb(255, 145, 0);
    margin:1px;
}